extends partials/layout.pug

block content
  .welcome
    h1 Dis be a test
  .content
    each post in posts
      .postBlock
        h1 #{post.title}
        img.mainPageImgs(src=post.imgurl)
        p By: #{post.username}
        form(action=`/${post._id}/up` method="POST")
            input(type="submit" value="up")
        form(action=`/${post._id}/down` method="POST")
            input(type="submit" value="down")
