extends partials/layout.pug

block content
  .welcome
    h1 Welcome to ML-Reddit: Dankest Memes in Town
  .content
    each post in posts
      .postBlock
        h1 #{post.title}
        img.mainPageImgs(src=post.imgurl)
        p By: #{post.username}
        form(action=`/${post._id}/up` method="POST")
            input(type="submit" value="up")
        p #{post.votes}
        form(action=`/${post._id}/down` method="POST")
            input(type="submit" value="down")
        p 
          a(href=`/comments/${post._id}`) Comments
